@use "variables";
@use "mixins";


.details{
    padding: 24px;
    &__company{
        color: variables.$Orange;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    &__title{
        font-size: 1.7em;
        margin-bottom: 16px;
    }
    &__description{
        font-size: 0.94em;
        color: variables.$Dark-grayish-blue;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__prices{
        //border: 1px solid red;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
    }
    &__now{
        font-size: 1.8em;
        font-weight: 700;
        //border: 1px solid red;
        display: flex;
        align-items: center;
        gap: 18px;
    }
    &_discount{
        font-size: 0.5em;
        background-color: variables.$Pale-orange;
        color: variables.$Orange;
        padding: 4px;
        border-radius: 4px;
    }
    &__before{
        font-weight: 700;
        color: variables.$Dark-grayish-blue;
        text-decoration: line-through;
    }
    &__button{
        @include mixins.button;
    }
}